# ==============================
# IDE 설정 파일
# ==============================
*.iml
.idea/
.project
.classpath
.settings/
.metadata/         # Eclipse 내부 설정 정보

# ==============================
# Java 컴파일 결과물
# ==============================
*.class
bin/
out/
build/
target/            # Maven 빌드 결과물
lib/               # 수동 추가 라이브러리 (관리 필요 없을 때만)

# ==============================
# OS 자동 생성 파일
# ==============================
.DS_Store
Thumbs.db

# ==============================
# 기타 임시/백업/로그 파일
# ==============================
*.log
*.tmp
*.bak
*.tar

# ==============================
# Eclipse WTP / 서버 관련
# ==============================
wtpwebapps/
tmp0/
