<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!-- SCRIPTS -->
<div th:fragment="scripts">
    <!-- jQuery Plugins -->
    <script src="/electro/js/jquery.min.js"></script>
    <script src="/electro/js/bootstrap.min.js"></script>
    <script src="/electro/js/slick.min.js"></script>
    <script src="/electro/js/nouislider.min.js"></script>
    <script src="/electro/js/jquery.zoom.min.js"></script>
    <script src="/electro/js/main.js"></script>
</div>
</body>
</html>