<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "mybatis-3-mapper.dtd">
<mapper namespace="Staff">
	<insert id="insert" parameterType="Staff">
		insert into staff(name, sal, email) values(#{name}, #{sal}, #{email})
	</insert>	
	
	<select id="">
		select last_insert_id();
	</select>
</mapper>













