<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "mybatis-3-mapper.dtd">
<mapper namespace="Comment">
	<!-- 댓글 등록 -->
	<insert id="insert" parameterType="Comment">
		insert into comment(msg,user,news_id) values(#{msg},#{user},#{news.news_id})
	</insert>
	
	<!-- 등록된 댓글들의 목록 가져오기 -->
	<select id="selectByNewsId" parameterType="int" resultType="Comment">
		select * from comment where news_id = #{news_id}
	</select>
	
</mapper>