<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Cart">
	<insert id="">
		insert into cart(product_id, ea, member)
		values(#{product.product_id}, #{ea}, #{member.member_id}, #{color.color_id}, #{size.size_id})
	</insert>
</mapper>
